#win {
    background-color: #73ceff;
    font-size: 20px;
}

#mainBox{
    background-color: white;
}

#button {
    background: #355C7D;
    color:#12e6d4;
    font-size: 22px;
}

#button:hover {
    background:#00ABF0;
}

#button:active {
    background:#5968eb;
    font-size: 22px;
}

#gridbtn, #gridlabel {
    color: #042216c5;
    font-size: 25px;
}
